[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.1.4"
isort = "*"
flake8 = "*"
djangorestframework = "*"
wagtail = "*"
django-cors-headers = "*"
hubspot-api-client = "*"

[dev-packages]

[requires]
python_version = "3.8"
