{% extends 'base.html' %}

{% block content %}

  Yo, this is tweet like application !!!

  <div id="tweets">
    Loading...
  </div>

  <script>
    const tweetsElement = document.getElementById('tweets')

    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = '/tweets/'
    const responseType = 'json'

    function formatTweetElement(tweet) {
        return "<div class='mb-4 tweet' id='tweet" + tweet.id + "'><p>" + tweet.content + "</p></div>"
    }

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response;
        const listedItems = serverResponse.response;
        var finalTweetStr = "";
        var i;
        for (i=0; i<listedItems.length; i++) {
            var currentItem = formatTweetElement(listedItems[i])
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
    }
    xhr.send()
  </script>

{% endblock content %}